In [1]:
# List of high schools

school_list = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

# Print out contents of high_schools list

for school in school_list:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [2]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

# Print out contents of dictionary

for school_type in high_school_types:
    print(school_type)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [3]:
# List of high schools

high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [4]:
# Add the Pandas dependency

import pandas as pd

In [5]:
# Create a Pandas Series from a list

school_series = pd.Series(high_schools)

school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [6]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [7]:
# Create a Pandas DataFrame

school_df = pd.DataFrame(high_school_dicts)

school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [12]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [13]:
# Initialize a new DataFrame
schools_df = pd.DataFrame()

# Add the lists to a new DataFrame

schools_df["school_id"] = school_id
schools_df["school_name"] = school_name
schools_df["type"] = type_of_school

# Print the DataFrame

schools_df

   school_id            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [17]:
schools_df.columns

Index(['school_id', 'school_name', 'type'], dtype='object')

In [18]:
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [19]:
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [21]:
# New Lists

new_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

new_school = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School",
             "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School",
             "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School",
             "Thomas High School"]

new_type = ["District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District", "Charter",
           "Charter", "Charter", "District", "District", "District", "Charter"]

In [22]:
# Create a new DataFrame from the "new lists"

# Initialize
new_df = pd.DataFrame()

# Add lists to "new" DataFrame

new_df["school_id"] = new_id
new_df["school_name"] = new_school
new_df["type"] = new_type

# Print the DataFrame

new_df

    school_id            school_name      type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter