In [1]:
# A list of my grades
my_grades = ['B', 'C', 'B', 'D']

In [2]:
# pandas dependency
import pandas as pd

# convert my_grades to a series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [3]:
# use map to alter list
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [4]:
# using the format() function
my_grades = [92.34, 84.56, 86.68, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [5]:
# convert numerical grades to a series
my_grades = pd.Series([92.34, 84.56, 86.68, 98.32])
my_grades

0    92.34
1    84.56
2    86.68
3    98.32
dtype: float64

In [6]:
# format the grdes to the nearest whole number percent
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object